<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Jacinth Gudetti</title>
    <meta name="author" content="Jacinth Gudetti">
    <meta name="description" content="Starter Site">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
  </head>

  <body>

    <div class='top'>
      <h1> Jacinth Gudetti </h1>
      <p> B.S. Computer Engineering, UCSD </p>
    </div>

     <div class='separator'> COMING SOON </div>

     <div class='separator'>Guest Book</div>

     <button><a href='/welcome'>Sign in to the guest book!</a></button>
     <button><a href='/cv'>Check out my CV!</a></button>

  </body>
</html>